<!-- <p class="text-right font-bold" style="color:brown">Welcome: {{loggedUser}}</p>-->
<br>
<div class = "row mx-2 my-2" >
	<div class = "col-sm-4" *ngFor= "let c of course; let i= index">
		<div class="card">
  			<div class="card-header text-center font-weight-bolder">{{c.courseName}}</div>
			  <div class="card-body">{{c.courseDesc}}</div>
			  <div class="card-footer">
				<button class="btn btn-primary" type="Button" (click)="selectContent(c.courseId)">Start Tutorial</button>
			  </div>
		</div>
	</div>
</div>