<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="./assets/images/instructor/learning.jpg"  class="img-fluid" alt="..." >
        </div>
        <div class="col-sm-6">
            <!-- customer detail-->
            <br><br><br>
            <h6>Participant info:</h6>
            <div class="row">
                <div class="col-sm-6">
                    <label for="firstName" class="form-label">First name:</label>
                    <label for="idFirstName" class="form-label">{{userSession.loggedStudent.firstName}}</label>
            </div>
            <div class="col-sm-6">
                <label for="lastName" class="form-label">Last name:</label>
                <label for="idLastName" class="form-label">{{userSession.loggedStudent.lastName}}</label>
            </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="scheduleEmail" class="col-sm-2 col-form-label">email:</label>
                    <label for="idemail" class="form-label">{{userSession.loggedStudent.email}}</label>
                </div>
            </div><br>
    <hr class="bg-danger border-2 border-top border-dark">
            <!--product detail-->
            <br>
            <h6>Course info:</h6>
            <div class="row">
                <div class="col-sm-6">
                    <label for="coursename" class="form-label">Course name:</label>
                    <label for="idCoursename" class="form-label">{{userSession.selectedWebCourse.courseName}}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="price" class="form-label">Price:</label>
                    <label for="idPrice" class="form-label">{{userSession.scheduleCourse.courseFee}}</label>
                </div>
                <div class="col-sm-6">
                    <label for="currency" class="form-label">Currency:</label>
                    <label for="idCurrency" class="form-label">CAD</label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="price" class="form-label">Selected date:</label>
                    <label for="idPrice" class="form-label">{{userSession.scheduleCourse.scheduleDate}}</label>
                </div>
            </div>
        </div>  
    </div><br><br>
    <div class="row">
        <div class="col-sm-6"> </div>
        <div class="d-grid gap-2 col-2 mx-auto">
            <button class="btn btn-secondary mr-2" (click)="backToPrevious()">Back </button>
        </div>
        <div class="d-grid gap-2 col-2 mx-auto">
            <button class="btn btn-secondary mr-2" >Edit Participant Info</button>
        </div>
        <div class="d-grid gap-2 col-2 mx-auto">
            <button class="btn btn-secondary" (click)="moveToCheckout()">Move to Checkout</button>
        </div>
    </div>
</div>