

<div class="row mx-2 my-2">
    <div class="col-2">
        <div class="side-nav">
            <p> <a  href="javascript:void(0)" (click)="cTeam()">Team</a></p>
            <p> <a href="javascript:void(0)" (click)="cContact()">Contact</a></p>
            <p> <a href="javascript:void(0)" (click)="cAbout()">About Us</a></p>
        </div>
    </div>
    <div class="col 10">
        <div id="about" class="row" *ngIf = "about === true"  >
            <h1>About</h1>
        </div>
        <div id="contact" class="row " *ngIf = "contact === true" >
            <h1>Contact</h1>
        </div>
        <!-- team section-->
        <div id="team" class="row " *ngIf = "team === true" >
            <div class="row mx-2 ">
                <div class="col-2">
                    <img src="./assets/images/team/faizul.jpg" class="img-fluid border border-primary"  alt="...">
                </div>
                <div class="col-10 textfont">
                    Faizul holds an MBA from IBA, University of Dhaka, and then an MS in Information Systems from Texas Tech University and, has
                    a wide range of experience in Finance, Marketing, Education and Information Systems. He worked at different Banks, Finacial Institutions,
                    Multinational companies both in home and abroad. He also worked as an Assistant Professor at AIUB, Dhaka, Bangladesh.
                    Lastly worked as a IT contractor at Toyota Motors, Canada.
                </div>
            </div><br>
        
            <div class="row mx-2 ">
                <div class="col-10 textfont">
                    Faisal has been in Information Technology sector since long. He has worked as Chief Technology Officer in various companies
                    both home and abroad. Faisal is familiar with full life cycle product development, and has successfully delivered Information Technology solutions 
                    to different clients.
                </div>
                <div class="col-2">
                    <img src="./assets/images/team/faisal.jpg" class="img-fluid border border-primary" alt="...">
                </div>
            </div><br>
        
            <div class="row ">
                <div class="col-2">
                    <img src="./assets/images/team/farjana.jpg" class="img-fluid border border-primary" alt="...">
                </div>
                <div class="col-10">
                    Farjana graduated from North South University in Computer Science and, since then, has been working as a Programmer.
                </div>
            </div>
        </div>
    </div>

</div>





<!--
<div id = "team">
    <div class="row mx-2 my-2">
        <div class="col-4">
            <img src="./assets/images/team/faizul.jpg" class="img-fluid border border-primary" style="width:25%; height:100%" alt="...">
        </div>
        <div class="col-8">
            blabla
        </div>
    </div>

    <div class="row mx-2 my-2">
        <div class="col-8">
            blabla
        </div>
        <div class="col-4">
            <img src="./assets/images/team/faisal.jpg" class="img-fluid border border-primary" style="width:25%; height:100%" alt="...">
        </div>
    </div>

    <div class="row mx-2 my-2">
        <div class="col-4">
            <img src="./assets/images/team/farjana.jpg" class="img-fluid border border-primary" style="width:25%; height:100%" alt="...">
        </div>
        <div class="col-8">
            blabla
        </div>
    </div>
</div>
-->