<br>
<div class="row ml-4 mb-2 mx-2 ">
	<div class = "col-6"> <!-- First col-->
<!--		<div class="row"> 
			<img src="./assets/images/instructor/learning.jpg"  class="img-fluid" alt="..." >
		</div>
	-->
		<div ><h6>{{this.courseSelected.courseIntroduction}}	</h6></div><br>
		<div class ="small">
			<p><span style="color:green">Course Name: </span><span > {{this.courseSelected.courseName}}</span></p>
			<p><span style="color:green">Course Objective: </span><span > {{this.courseSelected.courseObjective}}</span></p>
			<p><span style="color:green">Course duration: </span><span > {{this.courseSelected.duration}}</span></p>
			
<!--			<p><span style="color:magenta">Request Information: </span><span ><img src="./assets/images/instructor/email.png"  class="img-fluid" alt="..." (click)="requestInfo()"></span></p> -->
		</div>

		<div class ="small">
			<p><span style="color:green">Course Contents: </span></p>
		</div>
		<div class="row  " *ngFor= "let contents of courseSelected.tags let i= index">
			<div class = "col-1"><img src="./assets/images/instructor/correctsymbol.png"  class="img-fluid" alt="..." ></div>
			<div class = "col-11 small">{{contents}}</div>
		</div>
		<div class ="small">
<!--			<p><span style="color:blue">Course type: </span><span >{{this.courseSelected.courseType}}</span></p> -->
			<p><span style="color:blue">Course fee: </span><span >{{this.courseSelected.courseFee}}</span></p>
			<p><span style="color:blue">Class size: </span><span >{{this.courseSelected.courseSize}}</span></p>
			<p><span style="color:blue">Course instruction: </span><span >{{this.courseSelected.courseInstruction}}</span></p>
		</div>

	</div> 
	<div class = "col-6" > <!-- Second col-->
		<div class="row ml-4">
			<p><span style="color:indigo">Instructor: </span> {{this.courseSelected.tutor.firstName}}  {{this.courseSelected.tutor.lastName}}</p>
		</div>
		<div class="row ml-4">
			<p><span style="color:rgb(79, 63, 90)">Instructor Intro: </span>
		</div>
		<div class="row ml-4">
			<div class = "col-4"><img src={{this.courseSelected.tutor.tutorImage}} class="img-fluid"  alt="...">
			</div>
			<div class = "col-8">
				{{this.courseSelected.tutor.tutorBio}}
			</div>
		</div>
		<div class="row ml-4">
			<p><span style="color:indigo">email: </span> {{this.courseSelected.tutor.tutorEmail}}</p>
		</div><br>
		<div class="row ml-4">
<!--			<p *ngIf = "courseSelected.available === true"><span style="color:magenta">Available Date: </span><span ><img src="./assets/images/instructor/email.png"  class="img-fluid" alt="..." (click)="getSchedule()"></span></p> -->
			<div class ="row">
				<div class="col-sm-8">
					<label for="scheduleDate" class="form-label ">Available Date:</label>
				</div>
				<div class="col-sm-4">
					<select #dates (change)="selectDate(dates.value)"> 
						<option >----------</option>
							<option *ngFor="let date of availableDates" [value]="date">
								{{date}}
							</option>
					</select>
				</div>
			</div>
			<p><span style="color:magenta">Request Information: </span><span >admin@studyaid.ca</span></p>
			
			<div *ngIf=" isDateSelected=== false" class="d-grid gap-2 col-12 mx-auto ">
				<button type="button" class="btn btn-secondary disabled">Register for this Course</button>
			</div>
			<div *ngIf=" isDateSelected===true" class="d-grid gap-2 col-12 mx-auto">
				<button type="button" class="btn btn-secondary" (click)="registerCourse()">Register for this Course</button>
			</div>
		</div>



	</div>


</div>

<div id="requestModal" class="modal fade show d-block" role="dialog" *ngIf=" openMessageModal">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Request Information</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form [formGroup]="formGroup" >
			<div class="row">
				<div class = "col-6">
					<input type="text" formControlName="firstName" class="form-control" id="firstName" aria-describedby="firstName" placeholder="First Name">
				</div>
				<div class = "col-6">
					<input type="text" formControlName="lastName" class="form-control" id="lastName" aria-describedby="lastName" placeholder="Last Name">
				</div>
			</div>
			<div class="row">
				<div class = "col-6"><input type="email" formControlName="senderEmail" class="form-control" id="senderEmail" aria-describedby="emailHelp" placeholder="Enter email"></div>
				<div class = "col-6"><input type="text" formControlName="requestedInfo" class="form-control" id="requestedInfo" aria-describedby="requestedInfo" placeholder="Please type your queries"></div>
			</div>
			</form>
		</div>
		<div class="modal-footer">
			<div class = "row">
				<div class = "col-6"><button type="submit" class="btn btn-primary" data-dismiss="modal" >Submit</button></div>
				<div class = "col-6"><button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button></div>
			</div>
		  
		</div>
	  </div>
	</div>
  </div>
<!--
  <div id="scheduleModal" class="modal fade show d-block" role="dialog" *ngIf=" openScheduleModal">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Register for Instructor-led Session</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form [formGroup]="formGroup">
				<div class="row">
					<div class="col-sm-6">
						<label for="firstName" class="form-label">First Name:</label>
						<label for="idFirstName" class="form-label">{{currentSession.loggedStudent.firstName}}</label>
					</div>
					<div class="col-sm-6">
						<label for="lastName" class="form-label">Last Name:</label>
						<label for="idLastName" class="form-label">{{currentSession.loggedStudent.lastName}}</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<label for="scheduleEmail" class="col-sm-2 col-form-label">email:</label>
						<label for="idemail" class="form-label">{{currentSession.loggedStudent.email}}</label>
					</div>
				</div>
				<hr class="bg-danger border-2 border-top border-dark">
				<div class="row">
					<div class="col-sm-8">
						<label for="courseName" class="form-label">Course Name:</label>
						<label for="idcourseName" class="form-label">{{currentSession.selectedWebCourse.courseName}}</label>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<label for="scheduleDate" class="form-label">Select Available Date:</label>
						</div>
						<div class="col-sm-4">
							<select #dates (change)="selectDate(dates.value)"> 
								<option >----------</option>
								<option *ngFor="let date of availableDates" [value]="date">
									{{date}}
								</option>
							</select>
						</div>
					</div>

				</div>
				<hr class="bg-danger border-2 border-top border-dark">
			</form>
		</div>
		<div class="modal-footer">
			<div class = "row">
				<div class = "col-6"><button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="registerSchedule()">Submit</button></div>
				<div class = "col-6"><button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeScheduleModal()">Close</button></div>
			</div>
		</div>
	  </div>
	</div>
  </div>
-->
  <div *ngIf="isLogged" id="loginFailedModal" class="modal fade show d-block" role="dialog">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Error Message</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <p>Please register/ login first</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeLoggedModal()">Close</button>
		</div>
	  </div>
	</div>
  </div>