<br>
<div class = "row mx-2 my-2" *ngIf = "avaliableCourse.length > 0" >
	<div class = "col-sm-4" *ngFor= "let course of avaliableCourse; let i= index">
		<div class="card">
  			<div class="card-header text-center font-weight-bolder">
				<div><img src="./assets/images/instructor/icons8-courses-64.png"  class="img-fluid float-left" alt="..."> </div>
				<div>{{course.courseName}}</div>
			</div>
			  <div class="card-body"></div>
			  <div class="card-footer">
				<div class = "d-grid gap-2">
				  <button class="btn btn-secondary" type="Button" (click)="selectCourse(course.courseId)">View Details</button>
				</div>
			  </div>
		</div>
	</div>
</div>
